/scripts/ @mdanielmana

# Packages

/packages/ui-core/ @mdanielmana
/packages/ui-components/ @mdanielmana
/packages/ui-model/ @bosifullstack @guimkogus
/packages/ui-utils/ @bosifullstack @phelipe-ohlsen @guimkogus @fpudo

# Components

/packages/ui-core/src/Button/ @danielmana
/packages/ui-core/src/Stack/ @danielmana
