/.git
/.yarn
/coverage
/docs/export
/docs/pages/playground.tsx
/examples/gatsby/public/
/examples/preact/config
/examples/preact/scripts
# Ignore fixtures
/packages/typescript-to-proptypes/test/*/*
/test/bundling/fixtures/**/*.fixture.js
# just an import that reports eslint errors depending on whether the fixture (which is not checked in) exists
/test/bundling/fixtures/create-react-app/src/index.js
/test/bundling/fixtures/gatsby/.cache
/test/bundling/fixtures/gatsby/public
/tmp
.next
build
node_modules
